@charset "utf-8";
/* CSS Document */

html, body {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	/*max-width: 800px;*/
}

body {
	font-family: 'Amatic SC', cursive;
	font-size: 22px;
	color: #333;
	background-color: #6E6762;
}
h1 {
	font-size: 9rem;	
	margin-top: 50px;
}
.weather-machine {
	text-align: center;
}
.weather-box {
	margin-top: 50px;
}
.field {
	font-size: 5rem;
}
.temp-unit {
	cursor: pointer;
}
.mini {
	font-size: 0.7em;
}
.search-form {
	display: none;
}
.huge {
	font-size: 5em;
	cursor: pointer;
}
.custom-text {
	border: 2px solid #EFbE8C;
	border-radius: 5px;
	height: 25px;
	width: 200px;
}
.custom-button {
	background-color: #EFbE8C;
	border: 2px solid #EFbE8C;
	border-radius: 5px;
	margin: 5px 0;
	font-family: inherit;
	font-size: inherit;
	color: #eee;
}
.dtable {
	display: table;
}
.tcell {
	display: table-cell;
}
